[submodule "multiline_parser_pluginlib"]
	path = multiline_parser_pluginlib
	url = https://github.com/segfo/multiline_parser_pluginlib
	branch = main
[submodule "libtoolbox"]
	path = libtoolbox
	url = https://github.com/segfo/libtoolbox
	branch = main